@charset "UTF-8";
body {
  background-color: #e0e5ea; }

.content__svg {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Параметры тени */
  padding: 10px;
  background-color: white;
  display: block;
  margin: 20px auto;
  width: 500px;
  height: 500px; }
  .content__svg--first--line {
    stroke: green;
    stroke-width: 1; }
  .content__svg--first--circle {
    fill: blue; }
  .content__svg--first--cross-left {
    stroke: black;
    stroke-width: 3; }
  .content__svg--first--cross-right {
    stroke: red;
    stroke-width: 3; }
  .content__svg--first--ellipse {
    fill: none;
    stroke: yellow;
    stroke-width: 4;
    stroke-dasharray: 1%; }
  .content__svg--second {
    width: 200px; }
  .content__svg--third--circle {
    fill: none;
    stroke: red;
    stroke-width: 30;
    stroke-dasharray: 50%;
    stroke-linecap: round;
    animation-name: spinning;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%; }

@keyframes spinning {
  100% {
    transform: rotate(360deg); } }

.st0 {
  fill: #BA874D; }

.st1 {
  fill: #008D36; }

.st2 {
  fill: #BE1622; }

.st3 {
  fill: #F39200; }

.st4 {
  fill: #634E42; }

.st5 {
  fill: #FFFFFF; }

.st6 {
  fill: #9B191E; }

.st7 {
  fill: #E99F2E; }

.st8 {
  fill: #D4870C; }

.st9 {
  fill: #9E191F; }

.st10 {
  fill: #C91517; }

.st11 {
  fill: #BE1919; }

.st12 {
  fill: #E6332A; }

.st13 {
  fill: #005F2D; }

.st14 {
  fill: #008639; }

.st15 {
  fill: #3AAA35; }

.st16 {
  fill: #00983B; }

.st17 {
  fill: #A81A17; }

.st18 {
  fill: #C7D6E1; }

.st19 {
  fill: #2CA949; }

.st20 {
  fill: #68B659; }

.st21 {
  fill: #CE8837; }

.st22 {
  fill: #8FAFD3; }

.st23 {
  fill: #878787; }

.st24 {
  fill: #936037; }

.st25 {
  fill: #A86D3E; }

.st26 {
  fill: #432918; }

.st27 {
  fill: #F6F6F6; }

.st28 {
  fill: #DB0D15; }

.st29 {
  fill: #683C11; }

.st30 {
  fill: #1D71B8; }

.st31 {
  fill: #29235C; }

.st32 {
  fill: #575756; }

.st33 {
  fill: #00A19A; }

.st34 {
  fill: #EDEDED; }

.st35 {
  fill: #2C8AB8; }

.st36 {
  fill: #B2B2B2; }

.st37 {
  fill: #C6C6C6; }

.st38 {
  fill: #2FAC66; }

.st39 {
  fill: #999999; }

.st40 {
  fill: #E68787; }

.st41 {
  fill: #95C11F; }

.st42 {
  fill: #F8C3C4; }

.st43 {
  fill: #EA5055; }

.st44 {
  fill: #C69B6A; }

.st45 {
  fill: #C29560; }

.st46 {
  fill: #CBBBA0; }

.st47 {
  fill: #CBB0A0; }

.st48 {
  fill: #EF7D81; }

.st49 {
  fill: #DCC2A4; }

.st50 {
  fill: #AE7A3E; }

.st51 {
  fill: #006633; }

.st52 {
  fill: #ABD194; }

.st53 {
  fill: #57B144; }

.st54 {
  fill: #B08048; }

.st55 {
  fill: #FDD5A8; }

.st56 {
  fill: #D41A27; }

.st57 {
  fill: #7B6A58; }

.st58 {
  fill: #FBDDDE; }

.st59 {
  fill: #D71927; }

.st60 {
  fill: #AE1921; }

.st61 {
  fill: #C49064; }

.st62 {
  fill: #D71016; }

.st63 {
  fill: #C11717; }

.st64 {
  fill: #E30613; }

.st65 {
  fill: #D61116; }

.st66 {
  fill: #CB1518; }

.st67 {
  fill: #BB1918; }

.st68 {
  fill: #A1191F; }

.st69 {
  fill: #4D3D34; }

.st70 {
  fill: #C8A5CE; }

.st71 {
  fill: #951B81; }

.st72 {
  fill: #2985BB; }

.st73 {
  fill: #448DC0; }

.st74 {
  fill: #007BB4; }

.st75 {
  fill: #4A94D0; }

.st76 {
  fill: #3A8FCD; }

.st77 {
  fill: #258ACA; }

.st78 {
  fill: #739AC0; }

.st79 {
  fill: #B11918; }

.st80 {
  fill: #E6C6A4; }

.st81 {
  fill: #F1E0CE; }

.st82 {
  fill: #42352C; }

.st83 {
  fill: #A08A7E; }

.st84 {
  fill: #B9B8B9; }

.st85 {
  fill: #A3A2A3; }

.st86 {
  fill: #D9D8D9; }

.st87 {
  fill: #CDCBCC; }

.st88 {
  fill: #80A1C5; }

.st89 {
  fill: #6391BA; }
