@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Niramit:700");
body {
  background-color: #e0e5ea; }

.content__svg {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Параметры тени */
  padding: 10px;
  background-color: white;
  display: block;
  margin: 20px auto;
  max-width: 800px;
  max-height: 800px;
  width: auto;
  height: auto; }
  .content__svg--first--line {
    stroke: green;
    stroke-width: 1; }
  .content__svg--first--circle {
    fill: blue; }
  .content__svg--first--cross-left {
    stroke: black;
    stroke-width: 3; }
  .content__svg--first--cross-right {
    stroke: red;
    stroke-width: 3; }
  .content__svg--first--ellipse {
    fill: none;
    stroke: yellow;
    stroke-width: 4;
    stroke-dasharray: 1%; }
  .content__svg--second {
    width: 200px; }
  .content__svg--third--circle {
    fill: none;
    stroke: red;
    stroke-width: 30;
    stroke-dasharray: calc((2 * 3.14159 * 300) / 4);
    stroke-linecap: round;
    animation-name: spinning;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%; }
  .content__svg--fourth {
    display: block;
    margin: auto; }
  .content__svg--fifth-light {
    display: block;
    margin: auto;
    width: 600px;
    height: 300px;
    background-color: #f6eafe; }
    .content__svg--fifth-light--rect:hover > .content__svg--fifth-light--rect-hover {
      width: 200px;
      x: 0;
      opacity: 1; }
    .content__svg--fifth-light--rect:hover > .content__svg--fifth-light--text {
      fill: white; }
    .content__svg--fifth-light--rect-main {
      stroke: #fe0067;
      stroke-width: 5;
      fill: transparent;
      cursor: pointer;
      z-index: 1; }
    .content__svg--fifth-light--rect-hover {
      opacity: 0;
      fill: #fe0067;
      stroke: #fe0067;
      stroke-width: 5;
      transition: all 1s;
      cursor: pointer; }
    .content__svg--fifth-light--text {
      font-size: 20px;
      font-family: 'Niramit', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      fill: #fe0067;
      cursor: pointer;
      transition: all 1s; }
  .content__svg--fifth-dark {
    display: block;
    margin: auto;
    width: 600px;
    height: 300px;
    background-color: #29282f; }
    .content__svg--fifth-dark--rect:hover > .content__svg--fifth-dark--rect-hover {
      width: 200px;
      x: 0;
      opacity: 1; }
    .content__svg--fifth-dark--rect:hover > .content__svg--fifth-dark--text {
      fill: white; }
    .content__svg--fifth-dark--rect-main {
      stroke: #7300b3;
      stroke-width: 5;
      fill: transparent;
      cursor: pointer;
      z-index: 1; }
    .content__svg--fifth-dark--rect-hover {
      opacity: 0;
      fill: #7300b3;
      stroke: #7300b3;
      stroke-width: 5;
      transition: all 1s;
      cursor: pointer; }
    .content__svg--fifth-dark--text {
      font-size: 20px;
      font-family: 'Niramit', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      fill: #7300b3;
      cursor: pointer;
      transition: all 1s; }
  .content__svg--sixth-black {
    display: block;
    margin: auto;
    width: 600px;
    height: 300px;
    background-color: black; }
    .content__svg--sixth-black--line-first {
      stroke: white;
      stroke-width: 20;
      stroke-linecap: round;
      animation-name: line-first;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    .content__svg--sixth-black--line-second {
      stroke: white;
      stroke-width: 20;
      stroke-linecap: round;
      animation-name: line-second;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    .content__svg--sixth-black--line-third {
      stroke: white;
      stroke-width: 20;
      stroke-linecap: round;
      animation-name: line-third;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }

@keyframes spinning {
  100% {
    stroke-dashoffset: 1884; } }

@keyframes line-first {
  20% {
    transform: none; }
  30% {
    transform: rotate(45deg) translate(-50px, -200px);
    transform-origin: left center; }
  80% {
    transform: rotate(45deg) translate(-50px, -200px);
    transform-origin: left center; } }

@keyframes line-second {
  20% {
    transform: none; }
  30% {
    transform: rotate(45deg) translate(-50px, -250px);
    transform-origin: left center; }
  80% {
    transform: rotate(45deg) translate(-50px, -250px);
    transform-origin: left center; } }

@keyframes line-third {
  20% {
    transform: none; }
  30% {
    transform: rotate(-45deg) translate(-50px, 200px);
    transform-origin: left center; }
  80% {
    transform: rotate(-45deg) translate(-50px, 200px);
    transform-origin: left center; } }

.st0 {
  fill: #BA874D; }

.st1 {
  fill: #008D36; }

.st2 {
  fill: #BE1622; }

.st3 {
  fill: #F39200; }

.st4 {
  fill: #634E42; }

.st5 {
  fill: #FFFFFF; }

.st6 {
  fill: #9B191E; }

.st7 {
  fill: #E99F2E; }

.st8 {
  fill: #D4870C; }

.st9 {
  fill: #9E191F; }

.st10 {
  fill: #C91517; }

.st11 {
  fill: #BE1919; }

.st12 {
  fill: #E6332A; }

.st13 {
  fill: #005F2D; }

.st14 {
  fill: #008639; }

.st15 {
  fill: #3AAA35; }

.st16 {
  fill: #00983B; }

.st17 {
  fill: #A81A17; }

.st18 {
  fill: #C7D6E1; }

.st19 {
  fill: #2CA949; }

.st20 {
  fill: #68B659; }

.st21 {
  fill: #CE8837; }

.st22 {
  fill: #8FAFD3; }

.st23 {
  fill: #878787; }

.st24 {
  fill: #936037; }

.st25 {
  fill: #A86D3E; }

.st26 {
  fill: #432918; }

.st27 {
  fill: #F6F6F6; }

.st28 {
  fill: #DB0D15; }

.st29 {
  fill: #683C11; }

.st30 {
  fill: #1D71B8; }

.st31 {
  fill: #29235C; }

.st32 {
  fill: #575756; }

.st33 {
  fill: #00A19A; }

.st34 {
  fill: #EDEDED; }

.st35 {
  fill: #2C8AB8; }

.st36 {
  fill: #B2B2B2; }

.st37 {
  fill: #C6C6C6; }

.st38 {
  fill: #2FAC66; }

.st39 {
  fill: #999999; }

.st40 {
  fill: #E68787; }

.st41 {
  fill: #95C11F; }

.st42 {
  fill: #F8C3C4; }

.st43 {
  fill: #EA5055; }

.st44 {
  fill: #C69B6A; }

.st45 {
  fill: #C29560; }

.st46 {
  fill: #CBBBA0; }

.st47 {
  fill: #CBB0A0; }

.st48 {
  fill: #EF7D81; }

.st49 {
  fill: #DCC2A4; }

.st50 {
  fill: #AE7A3E; }

.st51 {
  fill: #006633; }

.st52 {
  fill: #ABD194; }

.st53 {
  fill: #57B144; }

.st54 {
  fill: #B08048; }

.st55 {
  fill: #FDD5A8; }

.st56 {
  fill: #D41A27; }

.st57 {
  fill: #7B6A58; }

.st58 {
  fill: #FBDDDE; }

.st59 {
  fill: #D71927; }

.st60 {
  fill: #AE1921; }

.st61 {
  fill: #C49064; }

.st62 {
  fill: #D71016; }

.st63 {
  fill: #C11717; }

.st64 {
  fill: #E30613; }

.st65 {
  fill: #D61116; }

.st66 {
  fill: #CB1518; }

.st67 {
  fill: #BB1918; }

.st68 {
  fill: #A1191F; }

.st69 {
  fill: #4D3D34; }

.st70 {
  fill: #C8A5CE; }

.st71 {
  fill: #951B81; }

.st72 {
  fill: #2985BB; }

.st73 {
  fill: #448DC0; }

.st74 {
  fill: #007BB4; }

.st75 {
  fill: #4A94D0; }

.st76 {
  fill: #3A8FCD; }

.st77 {
  fill: #258ACA; }

.st78 {
  fill: #739AC0; }

.st79 {
  fill: #B11918; }

.st80 {
  fill: #E6C6A4; }

.st81 {
  fill: #F1E0CE; }

.st82 {
  fill: #42352C; }

.st83 {
  fill: #A08A7E; }

.st84 {
  fill: #B9B8B9; }

.st85 {
  fill: #A3A2A3; }

.st86 {
  fill: #D9D8D9; }

.st87 {
  fill: #CDCBCC; }

.st88 {
  fill: #80A1C5; }

.st89 {
  fill: #6391BA; }

@media (min-width: 320px) and (max-width: 767px) {
  .content__svg--fourth {
    width: 250px;
    height: 150px; } }

@media (min-width: 768px) and (max-width: 959px) {
  .content__svg--fourth {
    width: 400px;
    height: 200px; } }

@media (min-width: 960px) and (max-width: 1199px) {
  .content__svg--fourth {
    width: 500px;
    height: 250px; } }

@media (min-width: 1200px) and (max-width: 1799px) {
  .content__svg--fourth {
    width: 600px;
    height: 300px; } }

@media (min-width: 1800px) {
  .content__svg--fourth {
    width: 800px;
    height: 400px; } }
