@media (min-width: 320px) and (max-width: 767px) { //todo
  .content__svg--fourth {
    width: 250px;
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 959px) { //todo
  .content__svg--fourth {
    width: 400px;
    height: 200px;
  }
}

@media (min-width: 960px) and (max-width: 1199px) {
  .content__svg--fourth {
    width: 500px;
    height: 250px;
  }
}

@media (min-width: 1200px) and (max-width: 1799px) {
  .content__svg--fourth {
    width: 600px;
    height: 300px;
  }
}

@media (min-width: 1800px) {
  .content__svg--fourth {
    width: 800px;
    height: 400px;
  }
}