@mixin square($size) {
  display: block;
  margin: 20px auto;
  max-width: $size;
  max-height: $size;
  width: auto;
  height: auto;
}

@mixin colorful-block($background-color) {
  display: block;
  margin: auto;
  width: 600px;
  background-color: $background-color;
}

@mixin colorful-text($text-color) {
  font-size: 20px;
  font-family: 'Niramit', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  fill: $text-color;
  cursor: pointer;
  transition: all 1s;
}

@mixin colorful-rect($color) {
  stroke: $color;
  stroke-width: 5;
  fill: transparent;
  cursor: pointer;
  z-index: 1;
}

@mixin colorful-rect-hover($color) {
  opacity: 0;
  fill: $color;
  stroke: $color;
  stroke-width: 5;
  transition: all 1s;
  cursor: pointer;
}

@mixin white-line($animation-name) {
  stroke: $white-color;
  stroke-width: 20;
  stroke-linecap: round;

  animation-name: $animation-name;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@mixin white-line-rotate($angle, $y20, $y80) {
  20% {
    transform: none;
  }
  30% {
    transform: rotate($angle) translate(-50px, $y20);
    transform-origin: left center;
  }
  80% {
    transform: rotate($angle) translate(-50px, $y80);
    transform-origin: left center;
  }
}