body {
  background-color: $background-color;
}

.content {

  &__svg {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 10px;
    background-color: white;

    @include square(800px);

    &--first {
      &--line {
        stroke: green;
        stroke-width: 1;
      }

      &--circle {
        fill: blue;
      }

      &--cross-left {
        stroke: black;
        stroke-width: 3;
      }

      &--cross-right {
        stroke: red;
        stroke-width: 3;
      }

      &--ellipse {
        fill: none;
        stroke: yellow;
        stroke-width: 4;
        stroke-dasharray: 1%;
      }
    }

    &--second {
      width: 200px;
    }

    &--third {
      &--circle {
        fill: none;
        stroke: red;
        stroke-width: 30;
        stroke-dasharray: 50%;
        stroke-linecap: round;

        animation-name: spinning;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: 50% 50%;
      }
    }

    &--fourth {
      display: block;
      margin: auto;
    }

    &--fifth {
      &-light {
        @include colorful-block($light-pink-color);

        &--rect-main {
          @include colorful-rect($pink-color);

          &:hover ~ .content__svg--fifth-light--rect-hover {
            width: 200px;
            x: 200px;
            opacity: 1;
          }

          &:hover ~ .content__svg--fifth-light--text {
            fill: $white-color;
          }
        }

        &--rect-hover {
          @include colorful-rect-hover($pink-color);
        }

        &--text {
          @include colorful-text($pink-color);
        }
      }

      &-dark {
        @include colorful-block($dark-grey-color);

        &--rect-main {
          @include colorful-rect($purple-color);

          &:hover ~ .content__svg--fifth-dark--rect-hover {
            width: 200px;
            x: 200px;
            opacity: 1;
          }

          &:hover ~ .content__svg--fifth-dark--text {
            fill: white;
          }
        }

        &--rect-hover {
          @include colorful-rect-hover($purple-color);
        }

        &--text {
          @include colorful-text($purple-color);
        }
      }
    }
  }

  @keyframes spinning {
    100% {
      transform: rotate(360deg);
    }
  }
}

